*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    width: 300px;
    height: 200px;
    padding: 10px 12px;
    background-color: #FFFAFA;
    text-align: center;
}

.card ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card.border {
    border: 2px solid darkred;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

body {
    background: #c2a3d1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}