* {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #FFFAFA;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    text-align: center;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: deepskyblue;
}