*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    flex: 0 1 900px;
    height: auto;
    padding: 10px 12px;
    background-color: #FFFAFA;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card.border {
    border: 2px solid darkred;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.container-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-recipe img {
    margin-bottom: 10px;
}

.container-recipe a {
    margin: 0;
    padding: 10px 12px;
}

body {
    background: #c2a3d1;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}